In [1]:
import pandas as pd

In [4]:
df_main = pd.read_csv('hpo_xref_data.txt', delimiter = "\t")
df_main.head()

       HPO-ID DATABASE-NAME EXTERNAL-ID EXTERNAL-NAME
0  HP:0000001          UMLS    C0444868          None
1  HP:0000002          UMLS    C4025901          None
2  HP:0001507          UMLS    C0262361          None
3  HP:0000003           MSH     D021782          None
4  HP:0000003   SNOMEDCT_US   204962002          None

In [5]:
df_SNO = pd.read_csv('SnomedCT.txt', delimiter = "\t")
df_SNO.head()

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
0,101013,20020131,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000020002
1,101013,20170731,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000448009
2,102018,20020131,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000020002
3,102018,20170731,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000448009
4,103011,20020131,1,900000000000207008,126815003,en,900000000000013009,Neoplasm of lateral wall of oropharynx,900000000000020002

In [8]:
for idx in range(len(df_main['DATABASE-NAME'])):
    if df_main.iloc[idx]['DATABASE-NAME'] == "SNOMEDCT_US":
        target = df_main.iloc[idx]['EXTERNAL-ID']
        target = df_SNO[df_SNO['conceptId'].isin([target])]['term']
        if len(target) > 0:
#             print(target.iloc[0])
            df_main.iloc[idx]['EXTERNAL-NAME'] = (target.iloc[0])

In [10]:
df_main.to_csv(r'hpo_xref_data.txt', index=None, sep='\t')