In [1]:
import pandas as pd

In [2]:
df_main = pd.read_csv('hpo_xref_data', delimiter = "\t")

In [3]:
df_main.head()

       HPO-ID DATABASE-NAME EXTERNAL-ID EXTERNAL-NAME
0  HP:0000001          UMLS    C0444868          None
1  HP:0000002          UMLS    C4025901          None
2  HP:0001507          UMLS    C0262361          None
3  HP:0000003           MSH     D021782          None
4  HP:0000003   SNOMEDCT_US   204962002          None

In [4]:
df_ICD10 = pd.read_csv('ICD10-DATA.txt', delimiter = "\t")

In [5]:
df_ICD10.head()

,INDEX,ICD10-ID,PARENT-INDEX,ABBREV,NAME
0,1,A00,0,Cholera,Cholera
1,2,A000,1,"Cholera due to Vibrio cholerae 01, biovar chol...","Cholera due to Vibrio cholerae 01, biovar chol..."
2,3,A001,1,"Cholera due to Vibrio cholerae 01, biovar eltor","Cholera due to Vibrio cholerae 01, biovar eltor"
3,4,A009,1,"Cholera, unspecified","Cholera, unspecified"
4,5,A01,0,Typhoid and paratyphoid fevers,Typhoid and paratyphoid fevers

In [22]:
for idx in range(len(df_main['DATABASE-NAME'])):
    if df_main.iloc[idx]['DATABASE-NAME'] == "ICD-10":
        target = df_main.iloc[idx]['EXTERNAL-ID']
        target_inICD10 = ''
        for ch in target:
            if ch == '.':
                continue
            target_inICD10 = target_inICD10 + ch
        target = df_ICD10[df_ICD10['ICD10-ID'].isin([target_inICD10])]['NAME']
        if len(target) > 0:
            df_main.iloc[idx]['EXTERNAL-NAME'] = (target.iloc[0])

In [24]:
df_main.to_csv(r'hpo_xref_data.txt', header=None, index=None, sep='\t')