In [1]:
import csv
import pandas as pd

In [2]:
df_main = pd.read_csv('./hpo_xref_data.txt', delimiter = "\t")
df_main.head()

,HPO-ID,DATABASE-NAME,EXTERNAL-ID,EXTERNAL-NAME
0,HP:0000001,UMLS,C0444868,"{'All', 'all', 'ALL'}"
1,HP:0000002,UMLS,C4025901,{'Abnormality of body height'}
2,HP:0001507,UMLS,C0262361,"{'Abnormal growth', 'abnormal growth', 'Growth..."
3,HP:0000003,MSH,D021782,Multicystic Dysplastic Kidney
4,HP:0000003,SNOMEDCT_US,204962002,Multicystic kidney

In [4]:
df_DOID = pd.read_csv('DOID-DATA.txt', delimiter = "\t")
df_DOID.head()

   DOID-ID                            NAME
0    60478                      Zika fever
1    60479      Shwachman-Diamond syndrome
2    60480  left ventricular noncompaction
3    60481    Goldberg-Shprintzen syndrome
4    60482         oculoauricular syndrome

In [7]:
for idx in range(len(df_main['DATABASE-NAME'])):
    if df_main.iloc[idx]['DATABASE-NAME'] == "DOID":
        target = df_main.iloc[idx]['EXTERNAL-ID']
        target = df_DOID[df_DOID['DOID-ID'].isin([target])]['NAME']
        if len(target) > 0:
            df_main.iloc[idx]['EXTERNAL-NAME'] = (target.iloc[0])

In [8]:
df_main.to_csv(r'hpo_xref_data.txt', index=None, sep='\t')