In [1]:
import csv
import pandas as pd

In [2]:
df_main = pd.read_csv('hpo_xref_data.txt', delimiter = "\t")
df_main.head()

,HPO-ID,DATABASE-NAME,EXTERNAL-ID,EXTERNAL-NAME
0,HP:0000001,UMLS,C0444868,"{'All', 'all', 'ALL'}"
1,HP:0000002,UMLS,C4025901,{'Abnormality of body height'}
2,HP:0001507,UMLS,C0262361,"{'Abnormal growth', 'abnormal growth', 'Growth..."
3,HP:0000003,MSH,D021782,None
4,HP:0000003,SNOMEDCT_US,204962002,Multicystic kidney

In [5]:
df_MSH = pd.read_csv('MSH-DATA.txt', delimiter = "\t")
df_MSH.head()

  DescriptorUI         DescriptorName
0      D000001             Calcimycin
1      D000900  Anti-Bacterial Agents
2      D061207     Calcium Ionophores
3      D000002                Temefos
4      D007306           Insecticides

In [6]:
for idx in range(len(df_main['DATABASE-NAME'])):
    if df_main.iloc[idx]['DATABASE-NAME'] == "MSH":
        target = df_main.iloc[idx]['EXTERNAL-ID']
        target = df_MSH[df_MSH['DescriptorUI'].isin([target])]['DescriptorName']
        if len(target) > 0:
            df_main.iloc[idx]['EXTERNAL-NAME'] = (target.iloc[0])

In [7]:
df_main.to_csv(r'hpo_xref_data.txt', index=None, sep='\t')